[Unit]
Description=temperature to MQTT
After=network.target

[Service]
Type=simple
User=
WorkingDirectory=/home/debian/luxsit/publishers
ExecStart=/home/debian/luxsit/publishers/temp.py
Restart=on-failure

[Install]
WantedBy=multi-user.target


